@mixin triangle($bgColor, $y: 0px) {
  background-color: $bgColor;
  width: 7.5px;
  height: 7.5px;
  position: relative;
  transform: scale(1.5, 1) rotate(45deg);
  top: $y + 16px;
}

@mixin message-box($bgColor) {
  padding: 2.5px 10px;
  color: #fff;
  background-color: $bgColor;
  border-radius: 7.5px;
}

@mixin message-p {
  margin: 0;
  word-wrap: break-word;
  word-break: break-all;
}

@media screen and (min-width: 580px) {
  #infoBar {
    width: 50%;
    #title {
      width: calc((100% - 70px) / 2);
    }
  }
  #contentBar {
    width: 50%;
    display: flex;
  }
}
@media screen and (max-width: 580px) {
  #infoBar {
    width: 100%;
    #title {
      width: calc(100% - 70px);
    }
  }
  #contentBar {
    width: 100%;
    display: none;
  }
}

#title {
  position: fixed;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #f3f7f8;
  border-bottom: #e8e8e8 1px solid;
  user-select: none;
  justify-content: space-between;

  p#left {
    font-size: 20px;
    margin-left: 10px;
  }

  div#right {
    margin-right: 10px;
    display: flex;

    p {
      font-size: 20px;
      margin: 10px;
    }
  }
}

#infoBar {
  height: 100%;
  background-color: #f3f7f8;
  overflow: auto;
  border-right: #dce5ec 2px solid;

  &::-webkit-scrollbar {
    width: 0;
  }

  #all {
    background-color: #e3f0f8;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: #e8e8e8 1px solid;
    user-select: none;

    img {
      height: 15px;
      margin-left: 15px;
      margin-right: 6px;
    }
  }
}

#contentBar {
  height: 100%;
  background-color: #fff;
  justify-content: center;

  #content {
    width: 100%;
    height: calc(100% - 60px);
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0;
    }
  }
}

div.message {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: start;

  > div#right {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: calc(100% - 105px);

    > p {
      margin: 0;
      margin-bottom: 2px;
    }

    > div {
      > div#triangle {
        @include triangle(#4c5a6e);
        right: 0.5px;
      }

      > div#text {
        @include message-box(#4c5a6e);
        width: fit-content;

        > p {
          @include message-p();
        }
      }
    }
  }
}

div.sensei {
  float: right;
  width: calc(100% - 45px);
  text-align: start;

  > div#triangle {
    @include triangle(#4a89ca, 5px);
    left: calc(100% - 21px);
  }

  > div#text {
    @include message-box(#4a89ca);
    float: right;
    width: fit-content;
    margin: 5px 15px 5px 0;

    > p {
      @include message-p();
    }
  }
}

div#editor {
  height: 60px;
  background-color: #f3f7f8;
  position: fixed;
  bottom: 0;
  width: calc((100% - 70px) / 2);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  border-top: #dce5ec 2px solid;

  > img {
    width: 30px;
    height: 30px;
  }
}
