@import "keyframe";

@mixin img-col($width) {
  div.imgCol {
    animation-name: fadeIn;
    animation-duration: 0.55s;
    overflow: hidden;
    border-radius: 50%;
    display: grid;
    justify-content: center;
    align-content: center;
    user-select: none;
    @content;

    img.col {
      width: $width;
    }
  }
}

@mixin text-inputer($w: calc(100% - 10px), $h: auto) {
  width: $w;
  height: $h;
  padding: 5px;
  margin: 5px 0;
  border: 1px #bbb solid;
  border-radius: 5px;

  &:focus,
  &:focus-visible {
    outline: 0;
    border: 1px #333 solid;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px 0;
  }
}

@import url(https://cdn.jsdelivr.net/npm/misans@3.1.1/index.min.css);

body {
  margin: 0;
  overflow: hidden;
}

* {
  font-family: MiSans;
  font-style: normal;
}

::selection {
  background-color: #ff8ca1;
  color: #fff;
}

#students {
  > div {
    $bg-color: #f3f7f8;
    cursor: pointer;
    transition-duration: 0.2s;
    height: 80px;
    display: flex;
    flex: {
      wrap: wrap;
      direction: row;
    }
    justify-content: flex-start;
    background-color: $bg-color;

    &.select {
      background-color: darken($bg-color, 7%);
    }

    &:not(.select):hover {
      background-color: darken($bg-color, 3%);
    }

    @include img-col(65px) {
      margin: 10px;
      width: 60px;
      height: 60px;
      background-color: #00000038;
    }

    > div.p {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: calc(100% - 120px);

      > p {
        margin: 0;
        font-size: 18px;
      }

      > p.name {
        color: #000;
      }

      > p.info {
        color: #707070;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    > div.line {
      background-color: #e8e8e8;
      width: calc(100% - 30px);
      height: 2px;
      margin: auto;
    }
  }
}

div.window {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  div.back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #0000004d;
    backdrop-filter: blur(10px) saturate(1.2);
  }

  div.ask {
    animation-name: fadeIn;
    animation-duration: 0.4s;
    position: fixed;
    box-shadow: 0 0 10px 0px #00000080;
    border-radius: 10px;
    background-color: #fff;

    div.up {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        margin: 10px;
      }
      img {
        $h: 10px;
        cursor: pointer;
        width: $h;
        height: $h;
        @extend h2;
      }
    }

    div.element {
      padding: 10px;
      display: flex;
      flex: {
        wrap: wrap;
        direction: column;
      }
      align: {
        content: center;
        items: center;
      }

      input {
        @include text-inputer;
      }

      textarea {
        @include text-inputer($h: 100px);
        resize: none;

        &::-webkit-scrollbar {
          width: 5px;
          height: 5px;
          background-color: #0000;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 2.5px;
          background-color: #ccc;
        }
      }

      button {
        cursor: pointer;
        background-color: #63adc6;
        color: #fff;
        border: 0;
        border-radius: 5px;
        margin: 5px;
        height: 25px;

        &.cancel {
          background-color: #bbb;
          color: #fff;
        }
      }

      p {
        margin: 0;
      }

      label {
        margin: 2px 0;
        select {
          margin-left: 5px;
        }
      }

      select {
        @include text-inputer($w: auto);
      }

      div.selector {
        overflow: overlay;
        width: 600px;
        height: 200px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@include img-col(100%);

div#contentMenu {
  animation-name: fadeIn;
  animation-duration: 0.35s;
  animation-fill-mode: forwards;
  transition-timing-function: cubic-bezier(0, 0, 0, 1.54);
  transition-duration: 0.35s;
  backdrop-filter: blur(30px) contrast(120%);
  position: absolute;
  width: max-content;
  min-width: 60px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 10%) 0 0 20px;
  z-index: 10000;

  > div.text {
    padding: 1px;
    border-radius: 5px;
    transition-duration: 0.2s;

    &:hover {
      background-color: rgb(0 0 0 / 10%);
    }

    > p {
      margin: 0;
      margin-left: 5px;
      font-size: 14px;
    }
  }

  > div.separator {
    margin: 5px;
  }

  > p {
    user-select: none;
    margin: 0 5px;
    font-size: 14px;
  }
}
