@import url(https://cdn.jsdelivr.net/npm/misans/lib/misans-300-light.min.css);
body {
  margin: 0;
}

* {
  font-family: MiSans;
}

::selection {
  background-color: #ff8ca1;
  color: #fff;
}

div.ask {
  position: absolute;
  box-shadow: 0 0 10px 0px #00000080;
  border-radius: 10px;
  background-color: #fff;

  div.up {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2,
    p {
      margin: 10px;
    }
  }

  div.element {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;

    input {
      width: calc(100% - 10px);
    }

    button {
      background-color: #63adc6;
      color: #fff;
      border: 0;
      border-radius: 5px;
      margin: 5px;
      height: 25px;
    }

    p {
      margin: 0;
    }
  }
}

div.back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #0000004d;
  backdrop-filter: blur(10px) saturate(1.2);
}
