@mixin img-col($width) {
  div.imgCol {
    overflow: hidden;
    border-radius: 50%;
    display: grid;
    justify-content: center;
    align-content: center;
    user-select: none;
    @content;

    img.col {
      width: $width;
    }
  }
}

@mixin text-inputer($h: auto) {
  width: calc(100% - 10px);
  height: $h;
  padding: 5px;
  margin: 5px 0;
  border: 1px #bbb solid;
  border-radius: 5px;

  &:focus,
  &:focus-visible {
    outline: 0;
    border: 1px #333 solid;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px 0;
  }
}

@import url(https://cdn.jsdelivr.net/npm/misans/lib/misans-300-light.min.css);

body {
  margin: 0;
  overflow: hidden;
}

* {
  font-family: MiSans;
}

::selection {
  background-color: #ff8ca1;
  color: #fff;
}

#students {
  > div {
    $bg-color: #f3f7f8;
    cursor: pointer;
    transition-duration: 0.2s;
    height: 80px;
    display: flex;
    flex: {
      wrap: wrap;
      direction: row;
    }
    justify-content: flex-start;
    background-color: $bg-color;

    &.select {
      background-color: darken($bg-color, 7%);
    }

    &:not(.select):hover {
      background-color: darken($bg-color, 3%);
    }

    @include img-col(65px) {
      margin: 10px;
      width: 60px;
      height: 60px;
      background-color: #00000038;
    }

    > div.p {
      display: flex;
      flex-direction: column;
      justify-content: center;

      > p {
        margin: 0;
        font-size: 18px;
      }

      > p.name {
        color: #000;
      }

      > p.info {
        color: #707070;
      }
    }

    > div.line {
      background-color: #e8e8e8;
      width: calc(100% - 30px);
      height: 2px;
      margin: auto;
    }
  }
}

div.ask {
  position: absolute;
  box-shadow: 0 0 10px 0px #00000080;
  border-radius: 10px;
  background-color: #fff;

  div.up {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2,
    p {
      margin: 10px;
    }
  }

  div.element {
    padding: 10px;
    display: flex;
    flex: {
      wrap: wrap;
      direction: column;
    }
    align: {
      content: center;
      items: center;
    }

    input {
      @include text-inputer;
    }

    textarea {
      @include text-inputer(100px);
      resize: none;

      &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        background-color: #0000;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 2.5px;
        background-color: #ccc;
      }
    }

    button {
      cursor: pointer;
      background-color: #63adc6;
      color: #fff;
      border: 0;
      border-radius: 5px;
      margin: 5px;
      height: 25px;
    }

    p {
      margin: 0;
    }
  }
}

div.back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #0000004d;
  backdrop-filter: blur(10px) saturate(1.2);
}

@include img-col(100%);
