@import "media";
@import "keyframe";

#title {
  position: fixed;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #f3f7f8;
  border-bottom: #e8e8e8 1px solid;
  user-select: none;

  p {
    font-size: 20px;
    margin-left: 10px;
  }
}

#infoBar {
  height: 100%;
  background-color: #f3f7f8;
  overflow: auto;
  border-right: #dce5ec 2px solid;

  &::-webkit-scrollbar {
    width: 0;
  }

  #all {
    background-color: #e3f0f8;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: #e8e8e8 1px solid;
    user-select: none;

    img {
      height: 15px;
      margin-left: 15px;
      margin-right: 6px;
    }
  }
}

#contentBar {
  height: 100%;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  @media (min-width: 581px) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .header {
    display: none;

    @media (max-width: 580px) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 50px;
      width: 100%;
      background: linear-gradient(#ff899e, #f79bac);
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      position: relative;
      padding-left: 10px;
    }
  }

  #content {
    width: 100%;
    height: 100%;

    > div.img {
      animation-name: fadeIn;
      animation-duration: 0.55s;
      overflow: hidden;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 5px;
      overflow: hidden;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      display: grid;
      justify-content: center;
      align-content: center;
      user-select: none;

      img.col {
        width: 100%;
      }
    }

    > div.p {
      display: flex;
      flex-direction: column;
      justify-content: center;

      > p {
        margin: 0;
        font-size: 18px;
      }

      > p.name {
        color: #000;
      }

      > p.info {
        color: #707070;
      }
    }

    > div.birthday {
      width: fit-content;
      height: 15px;
      color: #5f7c8c;
      border: #c2d0d9 2px solid;
      border-radius: 20px;
      margin: auto;
      margin-top: 5px;
      padding: 4px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      align-items: center;

      > img {
        margin-left: 2px;
        margin-right: 2px;
        height: 17px;
      }

      > p {
        margin-left: 2px;
        margin-right: 2px;
      }
    }
  }
}

.closeButton {
  position: relative;
  top: auto;
  left: auto;
  z-index: 101;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent; 
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: transparent;
  }

  p {
    color: #fff;
    font-size: 24px;
    margin: 0;
    line-height: 1;
  }

  img {
    height: 20px;
    width: 20px;
  }
}