#infoBar {
  height: 100%;
  width: 50%;
  background-color: #e3e3e5;
  overflow: auto;
}

#infoBar::-webkit-scrollbar {
  width: 0;
}

#infoBar {
  #title {
    position: fixed;
    width: calc((100% - 70px) / 2);
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #e3e3e5;
    border-bottom: #d2d3d7 2px solid;
  }

  #title > p {
    font-size: 20px;
    margin-left: 10px;
  }

  #all {
    background-color: #cfdae5;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: #c8cfd7 2px solid;
  }

  #all > img {
    height: 15px;
    margin-left: 15px;
    margin-right: 6px;
  }

  #students {
    > div {
      height: 80px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: flex-start;
    }

    > div {
      > div.img {
        margin: 10px;
        overflow: hidden;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: grid;
        justify-content: center;
        align-content: center;
      }

      > div.img > img.col {
        width: 65px;
      }

      > div.p {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      > div.p > {
        p {
          margin: 0;
          font-size: 18px;
        }

        p.name {
          color: #000;
        }

        p.info {
          color: #484848;
        }
      }

      > div.line {
        background-color: #dbdbdd;
        width: calc(100% - 30px);
        height: 2px;
        margin: auto;
      }
    }
  }
}

#contentBar {
  height: 100%;
  width: 50%;
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
}
