@keyframes fadeIn {
  0% {
    scale: 0;
    opacity: 0;
  }
  30% {
    scale: 1.12;
    opacity: 1;
  }
  100% {
    scale: 1;
  }
}

@keyframes fadeOut {
  0% {
    scale: 1;
  }
  70% {
    scale: 1.12;
    opacity: 1;
  }
  100% {
    scale: 0;
    opacity: 0;
  }
}

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }
  50%{
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
