@media screen and (min-width: 580px) {
    #infoBar {
        width: 50%;
        #title {
            width: calc((100% - 70px) / 2);
        }
    }
    #contentBar {
        width: 50%;
        display: flex;
    }
}
@media screen and (max-width: 580px) {
    #infoBar {
        width: 100%;
        #title {
            width: calc(100% - 70px);
        }
    }
    #contentBar {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        transform: translateY(100%);
        transition: transform 0.3s ease-out;
        background-color: #fff;
        z-index: 100;
        display: flex;
        flex-direction: column;
    }

    #contentBar.showContentBar {
        transform: translateY(50%);
    }
}
